/*
Author: David Caudron
Purpose: Styling for basic text chat
Instructor: FUCK YOU KIDNEY!
Filename: style.css
*/

/* Temporary styling for skeleton
Andrea to replace with their amazing styling techniques
*/
#chatHistory {
    background-color: #f9f9f9;
    width: 300px;
    height: 400px;
    border: 2px solid #333;
    padding: 10px;
    overflow-y: auto; /* Adds the scrollbar when needed */
    display: flex;
    flex-direction: column; /* Keeps messages stacked vertically */
    gap: 8px;
}

#usernameDisplay {
    position: absolute;
    top: 10px;    /* Distance from the top */
    right: 10px;  /* Distance from the right */
    font-weight: bold;

  /* optional make it look like a badge */
    background: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
  
}